:root {
  /* --- Navbar ---*/
  --navbarWith: 200px;
  /* animaciones para abrir*/
  --navbarVelocityAnimation: 0.3s;
  --navbarTypeOpen: ease;
  
  /* configuraciones del nav */
  --navbarColorText: white;
  --navbarBorderColor: white;
  --navbarBorderSize: 1px;
  --navbarBorderType: double;
  --navbarBackgroundColor: #333;

  /* botón del nav */
  --navbarButtonWidth: 60px;
  --navbarButtonHeight: 60px;

  /* --- Body --- */
  --bodyBackgroud: #101010;
}

* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  overflow-x: hidden;
  background: var(--bodyBackgroud);

}

.divisor{
  /* background: red; */
  width: 200px;
  color: white;
  border-bottom: 2px solid white; /* Línea debajo del texto */
  padding-bottom: 5px;         /* Espacio entre el texto y la línea */
  margin-bottom: 10px;         /* Espacio debajo del divisor */
  margin-top: 40px;
}
