.featureMovie_Content {
    width: 100vw;
    height: 350px;

    display: flex;
    align-items: center;
    justify-content: center;


    background: linear-gradient(to right, #f39c12, #8e44ad, #f39c12);
    background-size: 300% 300%;
    animation: gradientAnimation 15s ease-in-out infinite;
}

.featureMovie_Content img {
    width: auto;
    height: 90%;
}


@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
        /* Comienza desde la posición inicial */
    }

    25% {
        background-position: 50% 100%;
        /* Mueve en diagonal */
    }

    50% {
        background-position: 100% 50%;
        /* Cruza completamente hacia la derecha */
    }

    75% {
        background-position: 50% 0%;
        /* Mueve hacia la esquina superior izquierda */
    }

    100% {
        background-position: 0% 50%;
        /* Regresa a la posición inicial */
    }
}

.content {
    padding: 5px 20px;
}

.generoContainer {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: center;
    width: 100%;
    padding: 20px;
}

.generos {
    align-items: center;
    text-align: center;
    margin: auto;
    color: white;
    transition: transform 0.2s ease;
}

.generos:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.generos img {
    width: 10vh; /* Tamaño relativo al viewport height para mantener proporciones */
    height: 10vh;
    filter: drop-shadow(1px 1px 1px #f1f1f1);
}

.generos div {
    font-size: 2vh; /* Tamaño del texto relativo a la altura de la pantalla */
}