/* Estilo del botón de regreso */
.backButton {
    position: fixed; /* Fijar el botón en la esquina */
    top: 20px; /* Espacio desde la parte superior */
    left: 20px; /* Espacio desde la izquierda */
    z-index: 10; /* Asegurar que el botón esté por encima del contenido */
    border-radius: 25px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra del botón */
}

.banner {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    filter: blur(5px);
    object-fit: cover;
}

.degradado {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1));
    z-index: -1;
}

.titleContainter {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 70%;
    margin: 0 20px;
    padding: 20px;
    border-radius: 8px;
    color: #ffffff;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.title {
    font-size: 60px;
    margin-top: 40px;
    margin-bottom: 10px;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
}

.puntuacion {
    margin: auto;
}

.OnlyButton {
    margin: 20px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.OnlyButton:hover {
    background: #0056b3;
    transform: scale(1.05);
}

.OnlyButton:active {
    transform: scale(0.95);
}


.temporadaContainer {
    display: flex;
    margin-bottom: 20px; /* Espacio entre temporadas */
}

.temporada {
    flex: 0 0 200px; /* Ancho fijo para la temporada */
    padding: 10px; /* Espacio interno */
    border-right: 1px solid #ccc; /* Línea divisoria */
}

.capitulosContainer {
    flex: 1; /* Ocupa el espacio restante */
    display: flex;
    flex-wrap: wrap; /* Permite que los capítulos se muestren en varias filas si es necesario */
}

.capitulo {
    position: relative; /* Necesario para posicionar elementos internos */
    flex: 0 0 30%; /* Cada capítulo ocupa el 30% del ancho del contenedor */
    margin: 10px; /* Espacio entre capítulos */
    text-align: center; /* Centrar texto en cada capítulo */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    overflow: hidden; /* Para asegurarse de que no se salga la imagen difuminada */
}

.imageContainer {
    position: absolute; /* Posicionar la imagen detrás del texto */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden; /* Ocultar parte de la imagen que sale del contenedor */
    z-index: -1; /* Colocar la imagen detrás del texto */
}

.covers {
    width: 100%; /* La imagen ocupa todo el ancho del contenedor */
    height: 100%; /* La imagen ocupa todo el alto del contenedor */
    object-fit: cover; /* Mantener la proporción de la imagen */
    filter: blur(5px); /* Aplicar el efecto de difuminado */
}

.textContainer {
    position: relative; /* Para que el texto esté en la parte superior de la imagen */
    z-index: 1; /* Asegurarse de que el texto esté delante de la imagen */
    color: white; /* Cambia el color según sea necesario */
    font-weight: 800;
    padding: 10px; /* Espacio interno para el texto */
    backdrop-filter: blur(2px); /* Opcional: agrega un fondo difuminado detrás del texto */
}

.capituloNombre,
.capituloDescripcion,
.capituloIbm {
    margin: 5px 0; /* Espacio entre los elementos de texto */
}
