.cardsContainer {
    display: flex;
    justify-content: center; /* Centra las cartas horizontalmente */
    flex-wrap: wrap;
    gap: 20px;
    align-items: center; /* Alinea las cartas verticalmente */
    flex-direction: row-reverse; /* Alinea las cartas de derecha a izquierda */
    width: 100%;
    height: 90vh; /* Usamos el 100% de la altura de la ventana */
    display: flex;
    align-items: center; /* Centra verticalmente las cartas */
    justify-content: center; /* Centra horizontalmente las cartas */
}
